* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: -webkit-linear-gradient(left, #f5f5f5, cornflowerblue);
}
#hallo{
  background: -webkit-linear-gradient(left, #241a1a, #545c6b);
}

.logo {
  cursor: pointer;
  order: 3;
  margin-left: auto;
}

nav {
  order: 1;
}

.navbar-nav a,
.cta,
.overlay__content a {
  float: right;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.navbar-nav {
  list-style: none;
  display: flex;
  font-size: 16px;
}

.navbar-nav li {
  padding: 0px 20px;
}

.navbar-nav li:nth-child(1) {
  padding: 0 20px 0 0;
}

.navbar-nav li a {
  transition: all 0.3s ease 0s;
}

.navbar-nav li a:hover {
  color: #0088a9;
}

.cta {
  order: 2;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */


@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
